name: Primeiro Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  info:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Mostrar informações
        run: |
          echo "Branch: $GITHUB_REF"
          echo "Commit: $GITHUB_SHA"
          echo "Autor: $GITHUB_ACTOR"
